alias ll='ls -AlFh'
alias la='ls -Ah'
alias l='ls -CFh'
alias sosume='sudo -i'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'


# Git stuff
alias git-reset='git checkout master && git fetch && git pull'


# some helper functions for working with Docker
function docker-log () { docker logs -f $(docker ps -qf name=$1); }

function docker-shell () { docker exec -it $(docker ps -qf name=$1) /bin/bash; }

function docker-kill () { docker kill $(docker ps -qf name=$1) /bin/bash; }

function docker-nuke () {
	docker kill $(docker ps -q);
	docker rm $(docker ps -aq);
	docker rmi -f $(docker images -aq);
}


# AWS stuff
function set-aws-profile () { export AWS_PROFILE=$1; }


# Storable specific stuff
function sto-ecr-login () {	aws ecr get-login-password | docker login --username AWS --password-stdin 850077434821.dkr.ecr.us-east-1.amazonaws.com; }

function sto-update-remote() {
  repoName=$(git config --get remote.origin.url | sed 's:.*/::')
  git remote set-url origin "ssh://git@gitlab.com/storable/analytics/$repoName"
}
